# caRootBundle:
#   kind: ConfigMap
#   name: ca-root-bundle
#   key: ca-certificates.crt
crds:
  enabled: true
  keep: true
controllerManager:
  manager:
    instanceScope: false
    namespacedScope: false
    args:
      - --health-probe-bind-address=:8081
      - --metrics-bind-address=:8080
      - --leader-elect
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
    env:
      watchNamespace: ""
      ytLogLevel: DEBUG
    image:
      repository: ytsaurus/k8s-operator
      tag: ""
    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 64Mi
  nodeSelector: {}
  affinity: {}
  tolerations: []
  replicas: 1
  revisionHistoryLimit: 10
  serviceAccount:
    annotations: {}
  strategy:
    type: RollingUpdate
kubernetesClusterDomain: cluster.local
metricsService:
  ports:
    - name: metrics
      port: 8080
      protocol: TCP
      targetPort: metrics
  type: ClusterIP
webhookService:
  ports:
    - port: 443
      protocol: TCP
      targetPort: 9443
  type: ClusterIP
