# caRootBundle:
#   kind: ConfigMap
#   name: ca-root-bundle
#   key: ca-certificates.crt
crds:
  enabled: true
  keep: true
controllerManager:
  manager:
    instanceScope: false
    namespacedScope: false
    args:
      - --health-probe-bind-address=:8081
      - --metrics-bind-address=:8080
      - --leader-elect
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
    env:
      watchNamespace: ""
      ytLogLevel: DEBUG
    image:
      repository: ytsaurus/k8s-operator
      tag: ""
    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 64Mi
  nodeSelector: {}
  affinity: {}
  tolerations: []
  replicas: 1
  revisionHistoryLimit: 10
  serviceAccount:
    annotations: {}
  strategy:
    type: RollingUpdate
kubernetesClusterDomain: cluster.local
managerConfig:
  controllerManagerConfigYaml: |-
    apiVersion: controller-runtime.sigs.k8s.io/v1alpha1
    kind: ControllerManagerConfig
    health:
      healthProbeBindAddress: :8081
    metrics:
      bindAddress: :8080
    webhook:
      port: 9443
    leaderElection:
      leaderElect: true
      resourceName: 6ab077f0.ytsaurus.tech
    # leaderElectionReleaseOnCancel defines if the leader should step down volume
    # when the Manager ends. This requires the binary to immediately end when the
    # Manager is stopped, otherwise, this setting is unsafe. Setting this significantly
    # speeds up voluntary leader transitions as the new leader don't have to wait
    # LeaseDuration time first.
    # In the default scaffold provided, the program ends immediately after
    # the manager stops, so would be fine to enable this option. However,
    # if you are doing or is intended to do any operation such as perform cleanups
    # after the manager stops then its usage might be unsafe.
    # leaderElectionReleaseOnCancel: true
metricsService:
  ports:
    - name: metrics
      port: 8080
      protocol: TCP
      targetPort: metrics
  type: ClusterIP
webhookService:
  ports:
    - port: 443
      protocol: TCP
      targetPort: 9443
  type: ClusterIP
pprof:
  enabled: false
  address: localhost
  port: 6060
