apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "ytop-chart.fullname" . }}-controller-manager
  labels:
    control-plane: controller-manager
  {{- include "ytop-chart.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.controllerManager.replicas }}
  strategy: {{- toYaml .Values.controllerManager.strategy | nindent 4 }}
  revisionHistoryLimit: {{ .Values.controllerManager.revisionHistoryLimit }}
  selector:
    matchLabels:
      control-plane: controller-manager
    {{- include "ytop-chart.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        control-plane: controller-manager
      {{- include "ytop-chart.selectorLabels" . | nindent 8 }}
      annotations:
        kubectl.kubernetes.io/default-container: manager
    spec:
      containers:
      - args: {{- toYaml .Values.controllerManager.manager.args | nindent 8 }}
        command:
        - /manager
        env:
        - name: YT_LOG_LEVEL
          value: {{ quote .Values.controllerManager.manager.env.ytLogLevel }}
        {{- if .Values.controllerManager.manager.instanceScope }}
        - name: WATCH_OPERATOR_INSTANCE
          value: '{{ .Release.Name }}'
        {{- end }}
        {{- if .Values.controllerManager.manager.namespacedScope }}
        - name: WATCH_NAMESPACE
          value: '{{ .Release.Namespace }}'
        {{- end }}
        - name: K8S_CLUSTER_DOMAIN
          value: {{ quote .Values.kubernetesClusterDomain }}
        image: {{ .Values.controllerManager.manager.image.repository }}:{{ .Values.controllerManager.manager.image.tag
          | default .Chart.AppVersion }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        name: manager
        ports:
        - containerPort: 9443
          name: webhook-server
          protocol: TCP
        - containerPort: 8080
          name: metrics
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources: {{- toYaml .Values.controllerManager.manager.resources | nindent 10
          }}
        securityContext: {{- toYaml .Values.controllerManager.manager.containerSecurityContext
          | nindent 10 }}
        volumeMounts:
        {{- with .Values.caRootBundle }}
        - mountPath: /etc/ssl/certs
          name: ca-root-bundle
          readOnly: true
        {{- end }}
        - mountPath: /tmp/k8s-webhook-server/serving-certs
          name: webhook-cert
          readOnly: true
      nodeSelector: {{- toYaml .Values.controllerManager.nodeSelector | nindent 8 }}
      tolerations: {{- toYaml .Values.controllerManager.tolerations | nindent 8 }}
      affinity: {{- toYaml .Values.controllerManager.affinity | nindent 8 }}
      securityContext:
        runAsNonRoot: true
      serviceAccountName: {{ include "ytop-chart.fullname" . }}-controller-manager
      terminationGracePeriodSeconds: 10
      volumes:
      {{- with .Values.caRootBundle }}
      {{- if eq .kind "ConfigMap" }}
      - name: ca-root-bundle
        configMap:
          name: {{ .name }}
          items:
          - key: {{ .key }}
            path: ca-certificates.crt
      {{- else if eq .kind "Secret" }}
      - name: ca-root-bundle
        secret:
          secretName: {{ .name }}
          items:
          - key: {{ .key }}
            path: ca-certificates.crt
      {{- end }}
      {{- end }}
      - name: webhook-cert
        secret:
          defaultMode: 420
          secretName: {{ include "ytop-chart.fullname" . }}-webhook-cert
