---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - events
  - pod
  - pods
  - secrets
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pod/status
  verbs:
  - get
- apiGroups:
  - apps
  resources:
  - deployments
  - statefulset
  - statefulsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - statefulset/status
  verbs:
  - get
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cluster.ytsaurus.tech
  resources:
  - chyts
  - remotedatanodes
  - remoteexecnodes
  - remoteoffshorenodeproxies
  - remotetabletnodes
  - remoteytsaurus
  - spyts
  - ytsaurus
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cluster.ytsaurus.tech
  resources:
  - chyts/finalizers
  - remotedatanodes/finalizers
  - remoteexecnodes/finalizers
  - remoteoffshorenodeproxies/finalizers
  - remotetabletnodes/finalizers
  - remoteytsaurus/finalizers
  - spyts/finalizers
  - ytsaurus/finalizers
  verbs:
  - update
- apiGroups:
  - cluster.ytsaurus.tech
  resources:
  - chyts/status
  - remotedatanodes/status
  - remoteexecnodes/status
  - remoteoffshorenodeproxies/status
  - remotetabletnodes/status
  - remoteytsaurus/status
  - spyts/status
  - ytsaurus/status
  verbs:
  - get
  - patch
  - update
