# ytsaurus-dev-ca certificate issuer

---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: "ytsaurus-dev-selfsigned"
spec:
  selfSigned: {}

---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "ytsaurus-dev-ca"
spec:
  isCA: true
  commonName: "YTsaurus dev CA"
  subject:
    organizations:
      - "YTsaurus"
    organizationalUnits:
      - "Development"
  secretName: "ytsaurus-dev-ca"
  issuerRef:
    kind: Issuer
    name: "ytsaurus-dev-selfsigned"

---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: "ytsaurus-dev-ca"
spec:
  ca:
    secretName: "ytsaurus-dev-ca"

---
apiVersion: trust.cert-manager.io/v1alpha1
kind: Bundle
metadata:
  name: "ytsaurus-dev-ca.crt"
spec:
  sources:
  - secret:
      name: "ytsaurus-dev-ca"
      key: "tls.crt"
  target:
    configMap:
      key: "ca.crt"
    namespaceSelector:
      matchLabels:
        "app.kubernetes.io/part-of": "ytsaurus-dev"

---
apiVersion: trust.cert-manager.io/v1alpha1
kind: Bundle
metadata:
  name: "ytsaurus-dev-ca-root-bundle"
spec:
  sources:
  - useDefaultCAs: true
  - secret:
      name: "ytsaurus-dev-ca"
      key: "tls.crt"
  target:
    configMap:
      key: "ca-certificates.crt"
    additionalFormats:
      pkcs12:
        key: "ca-certificates.p12"
        password: "none"
        profile: "Modern2023"
      jks:
        key: "ca-certificates.jks"
        password: "none"
    namespaceSelector:
      matchLabels:
        "app.kubernetes.io/part-of": "ytsaurus-dev"
