name: "E2E Tests"

on:
  workflow_call:
    inputs:
      e2e_filter:
        type: string
        required: false
        default: ""

  workflow_dispatch:
    inputs:
      e2e_filter:
        description: "E2E tests filter"
        type: string
        required: false
        default: ""

jobs:
  check:
    name: "Check ${{ matrix.e2e.name }} e2e tests"
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        e2e:
          - name: "bulk update"
            filter: "rolling-update-bulk-mode"
          # - name: "basic"
          #   filter: "basic"
          # - name: "selector and remote"
          #   filter: "selector || remote"
          # - name: "tls"
          #   filter: "tls"
          # - name: "other"
          #   filter: "!basic && !selector && !remote && !tls"
          # - name: "${{ inputs.e2e_filter }}"
          #   filter: "${{ inputs.e2e_filter }}"
          #   from_input: true
        exclude:
          - e2e:
              # run only from_input part when defined and vice versa
              from_input: ${{ ( ! inputs.e2e_filter ) && true || '' }}

    steps:
      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          large-packages: false

      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'

      - name: Setup Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.11.2

      - name: Build YTsaurus operator
        shell: bash
        run: |
          make build

      - name: Setup k8s cluster
        shell: bash
        run: |
          make kind-create-cluster

      - name: Install YTsaurus operator
        shell: bash
        run: |
          make helm-kind-install
          kubectl get pod -A

      - name: Run ${{ matrix.e2e.name }} e2e tests
        env:
          GINKGO_LABEL_FILTER: ${{ matrix.e2e.filter }}
        shell: bash
        run: |
          make test-e2e

      - name: Cleanup k8s cluster
        shell: bash
        run: |
          make helm-uninstall
          make kind-delete-cluster

      - name: Report results
        if: always()
        uses: dorny/test-reporter@v2
        with:
          name: "E2E tests"
          path: "report.xml"
          reporter: java-junit
